<div class="reply-container">
  <div class="d-flex justify-content-between align-items-center pr-3 pt-2 pb-1 mx-4">
    <div class="badge badge-dark text-wrap"><strong><%= reply.owner.username %></strong></div>
    <% if reply.owner.avatar.attached? %>
      <div class="pr-3 pl-2 border-right border-dark"><%= cl_image_tag reply.owner.avatar.key, class: "avatar-bordered" %></div>
    <% else %>
      <div class="pr-3 pl-2 border-right border-dark"><%= image_tag "default_avatar.png", class: "avatar-bordered" %></div>
    <% end %>
    <div class="flex-grow-1 px-3 text-dark">
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <%= reply.answer %>
      <% if  reply.users.count > 50 %>
        <%= cl_image_tag('50_points.png', :class => "avatar-bordered") %>
      <% elsif reply.users.count > 40 %>
        <%= cl_image_tag('40_points.png', :class => "avatar-bordered") %>
      <% elsif reply.users.count > 30 %>
        <%= cl_image_tag('30_points.png', :class => "avatar-bordered") %>
      <% elsif reply.users.count > 20 %>
        <%= cl_image_tag('20_points.png', :class => "avatar-bordered") %>
      <% elsif reply.users.count > 10 %>
        <%= cl_image_tag('10_points.png', :class => "avatar-bordered") %>
      <% end %>
      <!-- click on the icon, sum +1 to reply_votes -->
      <% if dilemma.user_voted_reply?(current_user) || reply.owner == current_user %>
        <span class="px-3">
          <i class="fas fa-star text-primary"></i>
          <span class="little-text text-primary"><%= reply.users.count %></span>
        </span>
      <% else %>
        <%= link_to mark_path(reply.id) do %>
          <span class="px-3">
            <i class="fas fa-star icon-reply"></i>
            <span class="little-text text-primary"><%= reply.users.count %></span>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="rounded mx-4 mb-4 mt-0">
    <p class="font-weight-lighter text-dark pb-1" style="font-size: 10px;"><%= "Posted #{time_ago_in_words(reply.created_at)} ago" %></p>
  </div>
</div>
