<div class="d-flex justify-content-between align-items-center px-3 py-2 mx-4">
  <div class="badge badge-dark text-wrap"><strong><%= reply.owner.username %></strong></div>
    <% if reply.owner.avatar.attached? %>
      <div class="pr-3 pl-2 border-right border-dark"><%= cl_image_tag reply.owner.avatar.key, class: "avatar-bordered" %></div>
    <% else %>
      <div class="pr-3 pl-2 border-right border-dark"><%= image_tag "default_avatar.png", class: "avatar-bordered" %></div>
    <% end %>
    <div class="flex-grow-1 px-3 text-dark">
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <%= reply.answer %>
      <% if  reply.reply_votes > 50 %>
        <%= image_tag "50_points.png", class:  "avatar-bordered" %>
      <% elsif reply.reply_votes > 40 %>
        <%= image_tag "40_points.png", class:  "avatar-bordered" %>
      <% elsif reply.reply_votes > 30 %>
        <%= image_tag "30_points.png", class:  "avatar-bordered" %>
      <% elsif reply.reply_votes > 20 %>
        <%= image_tag "20_points.png", class:  "avatar-bordered" %>
      <% elsif reply.reply_votes > 10 %>
        <%= image_tag "10_points.png", class:  "avatar-bordered" %>
      <% end %>
        <!-- click on the icon, sum +1 to reply_votes -->
      <% if reply.has_user_marked_reply?(current_user) %>
        <span class="px-3">
          <i class="fas fa-star text-primary"></i>
          <span class="little-text text-primary"><%= reply.users.count %></span>
        </span>
      <% else %>
        <%= link_to mark_path(reply.id) do %>
          <span class="px-3">
            <i class="fas fa-star icon-reply"></i>
            <span class="little-text text-primary"><%= reply.users.count %></span>
          </span>
        <% end %>
      <% end %>
        <!-- reflect the count of reply_votes on a user's points -->
    </div>
  </div>
<div class="rounded px-3 mx-4 mb-4 mt-0">
  <p class="font-weight-lighter text-dark" style="font-size: 10px;"><%= "Posted #{time_ago_in_words(reply.created_at)} ago" %></p>
</div>
