<div class="mb-5" id="form-new-user">
  <h2 class="pb-2 text-black text-center">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username, label:"Choose a username",
                  required: false,
                  autofocus: true,
                  input_html: { class: "little-text" } %>
      <%= f.input :email, label: "Enter your email",
                  required: false,
                  input_html: { autocomplete: "email", class: "little-text" }%>
      <%= f.input :password,
                  required: false,
                  placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "little-text" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "little-text" } %>
      <%= f.input :bio,
                  required: false,
                  placeholder: "Tell us something about yourself",
                  input_html: { autocomplete: "bio", class: "description" } %>
      <%= f.input :avatar, label: "Choose a profile picture", as: :file,
                  input_html: { autocomplete: "new-password", class: "little-text" } %>
    </div>

    <div class="py-2 text-center">
      <%= f.button :submit, "SIGN UP", class: "btn-sober" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
