<div class="mb-5" id="form-new-user">
  <h2 class="pb-2 text-black text-center">Welcome</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username, label: false,
                  required: false,
                  autofocus: true,
                  placeholder: "Username (12 characters maximum)" %>
      <%= f.input :email, label: false,
                  required: false,
                  placeholder: "Email"%>
      <%= f.input :password, label: false,
                  required: false,
                  placeholder: ("Password (#{@minimum_password_length} characters minimum)" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: false,
                  required: false,
                  placeholder: "Confirm password" %>
      <%= f.input :bio,
                  required: false, label: false,
                  placeholder: "Bio: Tell us something about yourself",
                  input_html: { autocomplete: "bio", class: "description" } %>
      <%= f.input :avatar, label: "Choose a profile picture", as: :file,
                  input_html: { autocomplete: "new-password", class: "little-text" } %>
    </div>

    <div class="py-2 text-center">
      <%= f.button :submit, "SIGN UP", class: "btn-sober" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
