<div class="container-fluid">
  <div class="row">
    <!-- User profile card -->
    <div class="col-sm-12 col-lg-4">
      <div class="center">
        <div class="profile">
          <div class="image">
            <div class="circle-1"></div>
            <%= cl_image_tag current_user.avatar.key, class: "circle-1" %>
          </div>

          <div class="name"><%= @user.username %></div>
          <div class="description">
              <p> <%= @user.bio %> </p>
            </div>

          <div class="actions">
            <button class="btn">Message</button>
          </div>
        </div>

        <div class="stats">
          <div class="box">
            <span class="value"><%= User.last.dilemmas.count %></span>
            <span class="parameter">Dilemmas</span>
          </div>
          <div class="box">
            <span class="value">2</span>
            <span class="parameter">Badges</span>
          </div>
          <div class="box">
            <span class="value"><%= User.last.userpoints %></span>
            <span class="parameter">User Points</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Mariana  -->
    <!-- Display users dilemmas -->
    <div class="col-sm-12 col-lg-4"></div>
    <!-- Top 10 dilemmas -->
    <div class="col-sm-12 col-lg-4"></div>
  </div>
</div>





