<div class="container-fluid">
  <div class="row">
    <!-- User profile card -->
    <div class="col-sm-12 col-lg-4">
      <div class="center">
        <div class="profile">
          <div class="image">
            <div class="circle-1"></div>
            <%= cl_image_tag current_user.avatar.key, class: "circle-1" %>
          </div>

          <div class="name"><%= @user.username %></div>
          <div class="description">
              <p> <%= current_user.bio %> </p>
          </div>

          <!-- <div class="actions">
            <button class="btn">Message</button>
          </div> -->
        </div>

        <div class="stats">
          <div class="box">
            <span class="value"><%= current_user.dilemmas.count %></span>
            <span class="parameter">Dilemmas</span>
          </div>
          <div class="box">
            <span class="value">2</span>
            <span class="parameter">Badges</span>
          </div>
          <div class="box">
            <span class="value"><%= current_user.userpoints %></span>
            <span class="parameter">User Points</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Display users dilemmas -->
    <div class="col-sm-12 col-lg-4 charts text-center">
      <h1 class="m-2 mt-3">My dilemmas</h1>
      <% current_user.dilemmas.each do |dilemma| %>
        <div class="mt-5">
          <div>
            <p class="text-white font-italic text-left"><%= dilemma.question %></p>
          </div>
          <div class="chart">
            <% option_a = dilemma.options[0].users.count%>
            <% option_b = dilemma.options[1].users.count%>
            <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
            <%= pie_chart({"#{dilemma.options[0].description}" => option_a,
            "#{dilemma.options[1].description}" => option_b}) %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- All users' first dilemma -->
    <div class="col-sm-12 col-lg-4">
      <div class="charts">
        <h1 class="m-2 mt-3">Feed</h1>
        <% @users.each do |user|%>
          <% if user.dilemmas.any? %>
            <div class="badge-danger m-2">
              <%= user.dilemmas.first[:question] %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
