<div class="container-fluid">
  <div class="row">
    <!-- User profile card -->
    <div class="col-sm-12 col-lg-4">
      <div class="center">
        <div class="profile">
          <div class="image">
            <div class="circle-1"></div>
            <%= cl_image_tag current_user.avatar.key, class: "circle-1" %>
          </div>

          <div class="name"><%= @user.username %></div>
          <div class="description">
              <p> <%= current_user.bio %> </p>
          </div>
        </div>

        <div class="stats">
          <div class="box">
            <span class="value"><%= current_user.dilemmas.count %></span>
            <span class="parameter">Dilemmas</span>
          </div>
          <div class="box">
            <span class="value">2</span>
            <span class="parameter">Badges</span>
          </div>
          <div class="box">
            <span class="value"><%= current_user.userpoints %></span>
            <span class="parameter">User Points</span>
          </div>
        </div>
      </div>
    </div>

    <!-- My dilemmas -->
    <div class="col-sm-12 col-lg-4 charts text-center">
      <p class="badge badge-primary text-wrap mt-4 mb-2">My dilemmas</p>
      <% current_user.dilemmas.each do |dilemma| %>
        <div class="profile-dilemma-box m-3 rounded bg-light">
          <div class="card-note-text pt-3">
            <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
          </div>
          <div class="chart">
            <% option_a = dilemma.options[0].users.count%>
            <% option_b = dilemma.options[1].users.count%>
            <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
            <%= pie_chart({"#{dilemma.options[0].description}" => option_a,
            "#{dilemma.options[1].description}" => option_b}) %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- All users' first dilemma -->
    <div class="col-sm-12 col-lg-4">
      <div class="charts text-center">
        <p class="badge badge-primary text-wrap my-4">Feed</p>
        <div class="feed-box rounded p-3" style="background-image: url('https://res.cloudinary.com/dusgqtd1w/image/upload/v1593623380/doodle.png');">
          <% @users.each do |user|%>
            <% if user.dilemmas.any? %>
              <div class="feed-user-container">
                <div class="mx-2 p-1">
                  <div class="d-flex align-items-center mr-2">
                    <div class="text-primary little-text pr-1"><%= user.username %></div>
                    <% if user.avatar.attached? %>
                      <div class="pr-2"><%= cl_image_tag user.avatar.key, class: "avatar" %></div>
                    <% else %>
                      <div class="pr-2"><%= image_tag "default_avatar.png", class: "avatar" %></div>
                    <% end %>
                    <i class="fas fa-comment text-primary"></i>
                  </div>
                  <% if user.dilemmas.first.easy? %>
                    <p class="pl-1 pt-1 mt-1 badge badge-info text-wrap" id="text-grow"><%= link_to user.dilemmas.first[:question] %></p>
                  <% elsif user.dilemmas.first.medium? %>
                    <p class="pl-1 pt-1 badge badge-success text-wrap" id="text-grow"><%= link_to user.dilemmas.first[:question] %></p>
                  <% elsif user.dilemmas.first.hard? %>
                    <p class="pl-1 pt-1 badge badge-warning text-wrap" id="text-grow"><%= link_to user.dilemmas.first[:question] %></p>
                  <% end %>
                </div>
                <p class="font-weight-lighter text-light pb-1 pt-0 text-right mr-2" style="font-size: 10px;"><%= "Posted #{time_ago_in_words(user.dilemmas.first.created_at)} ago" %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

     <div class="col-sm-6 col-lg-3">
        <div id="main-block">
          <% @dilemmas.each do |dilemma|%>
            <% unless dilemma.can_users_vote? %>
              <div class="p-2 m-1 mb-2">
                <div class="m-2 featured-parent card-ghost <%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text">
                  <div class="container featured-child mt-4">
                    <p class="badge badge-danger text-wrap">
                    <i class="fas fa-arrow-down text-dark pr-1"></i>Expired and archived</p>
                  </div>
                  <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
                  <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
