
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-space-between mx-5">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-comments"></i>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item form-inline pr-5">
          <%= form_tag dilemmas_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control little-text",
              placeholder: "Find dilemmas"%>
            <%= submit_tag "Search", class: "btn btn-primary little-text" %>
          <% end %>
        </li>
        <li class="nav-item active pr-2 pl-5 pt-1 little-text" id="text-blue">
          <%= link_to "ABOUT", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item active pr-2 pl-3 pt-1 little-text" id="text-blue">
          <%= link_to "MY PROFILE", profile_path, class: "nav-link" %>
        </li>
        <li class="nav-item active mr-2 ml-5 mt-2 mb-3">
          <%= current_user.username %>
        </li>
        <li class="nav-item dropdown">
          <%  if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "default_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", profile_path, class: "dropdown-item" %>
            <%= link_to "Browse dilemmas", dilemmas_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item active pr-2 pl-5 pt-1 little-text" id="text-blue">
          <%= link_to "LOGIN", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active pr-2 pl-5 pt-1 little-text" id="text-blue">
          <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
