<!-- First section -->
<div class="background-pattern" style="background-image: url('https://res.cloudinary.com/dusgqtd1w/image/upload/v1593623380/doodle.png');">
  <div class="background-transparency text-center p-4">
    <h1 class="border-bottom"><%= link_to "DECIDE FOR ME", dilemmas_path %></h1>
    <h5>collective decision-making</h5>
    <div class="d-flex form-inline justify-content-center">
      <%= form_tag dilemmas_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What's on your mind?"%>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<!-- Second section -->
<div class="background-dark">
  <div class="d-flex">
    <div class="color-card-half bg-primary mx-2 my-2 p-2">
      <h2>Should I get a new job?</h2>
      <div class="d-flex">
        <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
        <p class="font-italic little-text">Created by <strong>Iben</strong></p>
      </div>
    </div>
    <div class="color-card bg-light mx-1 my-2">
      <%= image_tag "https://images.unsplash.com/photo-1548543604-a87c9909abec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" %>
    </div>
    <div class="color-card bg-info mx-1 my-2 p-3">
      <h2>Should I get married?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Joselito</strong></p>
    </div>
    <div class="color-card bg-light mx-1 my-2">
      <%= image_tag "https://images.unsplash.com/photo-1518800431428-69a992a6f54a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" %>
    </div>
    <div class="color-card bg-success mx-1 my-2 p-3">
      <h2>Beach or pool this weekend?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>JolieFolie</strong></p>
    </div>
    <div class="color-card-half bg-warning mx-1 my-2 p-2">
      <h2>Rent or buy my next place?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>JolieFolie</strong></p>
    </div>
  </div>
  <div class="d-flex">
    <div class="color-card bg-warning mx-1 p-3">
      <h2>Brunette or blond?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Faith</strong></p>
    </div>
    <div class="color-card bg-light mx-1">
      <%= image_tag "https://images.unsplash.com/photo-1522776507896-7174e7b0219d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" %>
    </div>
    <div class="color-card bg-primary mx-1 p-3">
      <h2>Should I forbid cellphones in my class?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Raj</strong></p>
    </div>
    <div class="color-card bg-info mx-1 p-3">
      <h2>Who would you rather meet?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>MarianaGT</strong></p>
    </div>
    <div class="color-card bg-success mx-1">
      <%= image_tag "https://images.unsplash.com/photo-1505243542579-da5adfe8338f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" %>
    </div>
  </div>
</div>
<!-- Third section -->
<div class="white-container p-5 my-2">
  <div class="bg-white d-flex justify-content-center align-items-center py-5 my-2">
    <div class="white-container-text p-5 text-left">
      <p>You have a problem?</p>
      <p>Not sure what to do?</p>
      <br>
      <p class="bg-info">You post it!</p>
    </div>
    <div class="mt-3 mb-5 color-parent card-ghost card-category card-note-text">
      <p class="px-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
      <h3>Where should I travel to next?</h3>
      <p class="font-italic little-text">Created by <strong>Memo</strong></p>
    </div>
  </div>
</div>
<!-- Fourth section -->
<div class="white-container p-5 my-2">
  <div class="bg-white d-flex justify-content-center align-items-center py-5 my-2">
    <div class="mt-3 mb-5 color-parent card-ghost card-category card-note-text" id="card-fourth-section">
      <h3>How does this app work?</h3>
      <p class="font-italic little-text">Created by <strong>The Team</strong></p><br>
      <div class="d-flex align-items-center">
        <p class="px-1 d-inline little-text-border mt-3">ACTIVE FOR 1 DAY</p>
        <div class="circle rounded-circle easy ml-3"></div>
        <p class="little-text text-white ml-1">EASY</p>
      </div>
      <div class="d-flex align-items-center">
        <p class="px-1 d-inline little-text-border mt-3">ACTIVE FOR 3 DAYS</p>
        <div class="circle rounded-circle medium ml-2"></div>
        <p class="little-text text-white ml-1">MEDIUM</p>
      </div>
      <div class="d-flex align-items-center">
        <p class="px-1 d-inline little-text-border mt-3">ACTIVE FOR 7 DAYS</p>
        <div class="circle rounded-circle hard ml-2"></div>
        <p class="little-text text-white ml-1">HARD</p>
      </div>
      <br>
      <p><span class="px-1 d-inline little-text-border mt-3">ACTIVE</span>
        or<span class="px-1 d-inline little-text-border mt-3 ml-2">EXPIRED</span></p>
    </div>
    <div class="white-container-text text-right ml-2">
      <div class="mb-5 pb-5 ml-5">
        <p class="text-center">Navigate</p><br>
        <div class="d-flex align-items-center justify-content-center">
          <div class="btn btn-primary mr-3">Search</div><br>
          <div class="btn btn-outline-primary little-text mr-4" id="btn-thin">
            <i class="fas fa-circle-notch pr-1"></i>
            <a href="#">Post a dilemma</a>
          </div><br>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-2">
          <div class="text-white pt-1">
            <p class="badge badge-primary mr-2"><strong>Vote!</strong></p>
            <i class="fas fa-comments text-secondary"></i>
            <p class="badge badge-secondary text-wrap p-1"><strong>ADD A COMMENT</strong></p>
          </div>
        </div>
      </div>
      <p class="bg-info pl-3">Categorize by complexity</p>
    </div>


  </div>
  <p>Each dilemma allows you to vote or comment. You can upvote other comments as well. So post your first dilemma or start voting now!</p>
</div>

<!-- Fifth section -- Peace  -->

<div id="peace-section">
  <div id="peace-quote">
    <p><em>"Finally an app that allows you to get immediate feedback on any dilemma you're indecisive about. Engage with other users by voting, commenting or simply observing relatable dilemmas that others are facing. No dilemma is too small or big when we gather as a community to help each other decide."</em></p>
    <h1 id="quote-jolie"> - Jolie - </h1>
  </div>
</div>



