<!-- First section -->
<div class="background-pattern" style="background-image: url('https://res.cloudinary.com/dusgqtd1w/image/upload/v1593623380/doodle.png');">
  <div class="background-transparency text-center p-4">
    <h1 class="border-bottom"><%= link_to "DECIDE FOR ME", dilemmas_path %></h1>
    <h5>collective decision-making</h5>
    <div class="d-flex form-inline justify-content-center">
      <%= form_tag dilemmas_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What's on your mind?"%>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<!-- Second section -->
<div class="background-dark">
  <div class="d-flex">
    <div class="color-card-half bg-primary mx-2 my-2 p-2">
      <h2>Should I get a new job?</h2>
      <div class="d-flex">
        <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
        <p class="font-italic little-text">Created by <strong>Iben</strong></p>
      </div>
    </div>
    <div class="color-card bg-light mx-1 my-2">
      <%= image_tag "https://images.unsplash.com/photo-1548543604-a87c9909abec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" %>
    </div>
    <div class="color-card bg-info mx-1 my-2 p-3">
      <h2>Should I get married?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Joselito</strong></p>
    </div>
    <div class="color-card bg-light mx-1 my-2">
      <%= image_tag "https://images.unsplash.com/photo-1518800431428-69a992a6f54a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" %>
    </div>
    <div class="color-card bg-success mx-1 my-2 p-3">
      <h2>Beach or pool this weekend?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>JolieFolie</strong></p>
    </div>
    <div class="color-card-half bg-warning mx-1 my-2 p-2">
      <h2>Rent or buy my next place?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>JolieFolie</strong></p>
    </div>
  </div>
  <div class="d-flex">
    <div class="color-card bg-warning mx-1 p-3">
      <h2>Brunette or blond?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Faith</strong></p>
    </div>
    <div class="color-card bg-light mx-1">
      <%= image_tag "https://images.unsplash.com/photo-1522776507896-7174e7b0219d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" %>
    </div>
    <div class="color-card bg-primary mx-1 p-3">
      <h2>Should I forbid cellphones in my class?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Raj</strong></p>
    </div>
    <div class="color-card bg-info mx-1 p-3">
      <h2>Who would you rather meet?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>MarianaGT</strong></p>
    </div>
    <div class="color-card bg-success mx-1">
      <%= image_tag "https://images.unsplash.com/photo-1505243542579-da5adfe8338f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" %>
    </div>
  </div>
</div>
<!-- Third section -->
<div class="white-container p-5 my-2">
  <div class="bg-white d-flex justify-content-center align-items-center py-5 my-2">
    <div class="white-container-text p-5 text-left">
      <p>You have a problem?</p>
      <p>Not sure what to do?</p>
      <br>
      <p class="bg-info">You post it!</p>
    </div>
    <div class="card-fix easy card-category-easy card-note-text shadow">
      <h3>Where should I travel to next?</h3>
      <p class="font-italic little-text">Created by <strong>Memo</strong></p>
      <p class="px-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
    </div>
  </div>
</div>
<!-- Fourth section -->
<div class="gradient-container" id="fourth-section">
    <!-- <div>
      <p id="quote">How does it work ?</p>
    </div> -->
    <div>
      <div class="card-fix easy card-category-easy card-note-text shadow" id="post-it">
        <div id="categories-1">
          <p id="easy-circle">Easy</p>
          <p class="px-1 d-inline little-text-border" id="active-time-1">ACTIVE FOR 1 DAY</p>
        </div>
        <div id="categories-2">
          <p id="medium-circle">Medium</p>
          <p class="px-1 d-inline little-text-border" id="active-time-1">ACTIVE FOR 3 DAY</p>
        </div>
        <div id="categories-3">
          <p id="hard-circle">Hard</p>
          <p class="px-1 d-inline little-text-border" id="active-time-1">ACTIVE FOR 7 DAYS</p>
        </div>
        <!-- <h3 id="post-it-title">About the app</h3> -->
        <h3>How does this app work?</h3>
        <p class="font-italic little-text">Created by <strong>Memo</strong></p>
        <p class="px-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
        <!-- <p><em>"Finally an app that allows you to get immediate feedback on any dilemma you're indecisive about. Engage with other users by voting, commenting or simply observing relatable dilemmas that others are facing. No dilemma is too small or big when we gather as a community to help each other decide."</em></p> -->
        <p id="main-paragraph">A few guidelines to help you navigate the app. Dilemmas are categorized by complexity, which the user selects when creating a dilemma.</p>
        <p id="second-paragraph">Once archived, only the creator of the dilemma can view the dilemma in their profile page.</p>
        <p id="third-paragraph">Each dilemma allows you to vote or comment. You can upvote other comments as well. So post your first dilemma or start voting now!</p>
      </div>
    </div>
</div>

<!-- Fifth section - The team -->

<div class="background-pattern" style="background-image: url('https://res.cloudinary.com/dusgqtd1w/image/upload/v1593623380/doodle.png');">
  <div class="bg-white d-flex justify-content-center align-items-center py-5 my-2" id="white-container">
    <div class="white-container-text p-5 text-left">
      <h1>Behind the project</h1>
      <br>
    </div>
  <!-- <div class="about-card"> -->
    <div class="about-card-contents">
      <h4>Mariana</h4>
      <%= image_tag "Mariana.jpg" %>
      <h3>Lead Designer</h3>
    </div>
  <!-- </div> -->
  <!-- <div class="about-card"> -->
    <div class="about-card-contents">
      <h4>Jolie</h4>
      <%= image_tag "Jolie.jpg" %>
      <h3>Product Owner</h3>
    </div>
  <!-- </div> -->
 <!--  <div class="about-card"> -->
    <div class="about-card-contents">
      <h4>Iben</h4>
      <%= image_tag "ibenito.png" %>
      <h3>Lead Developer</h3>
    </div>
  <!-- </div> -->
  <!-- <div class="about-card"> -->
    <div class="about-card-contents">
      <h4>José Luis</h4>
      <%= image_tag "jose2.jpeg" %>
      <h3>Project Manager</h3>
    </div>
  </div>
</div>

