<!-- First section -->
<div class="background-pattern" style="background-image: url('https://res.cloudinary.com/dusgqtd1w/image/upload/v1593623380/doodle.png');">
  <div class="background-transparency text-center p-4">
    <h1 class="border-bottom"><%= link_to "DECIDE FOR ME", dilemmas_path %></h1>
    <h5>collective decision-making</h5>
    <div>
     <%= link_to "What's on your mind?", dilemmas_path %>
    </div>
  </div>
</div>
<!-- Second section -->
<div class="background-dark">
  <div class="d-flex">
    <div class="color-card-half bg-primary mx-2 my-2 p-2">
      <h2>Should I get a new job?</h2>
      <div class="d-flex">
        <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
        <p class="font-italic little-text">Created by <strong>Iben</strong></p>
      </div>
    </div>
    <div class="color-card bg-light mx-1 my-2">
      <%= image_tag "https://images.unsplash.com/photo-1548543604-a87c9909abec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" %>
    </div>
    <div class="color-card bg-info mx-1 my-2 p-3">
      <h2>Should I get married?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Joselito</strong></p>
    </div>
    <div class="color-card bg-light mx-1 my-2">
      <%= image_tag "https://images.unsplash.com/photo-1518800431428-69a992a6f54a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" %>
    </div>
    <div class="color-card bg-success mx-1 my-2 p-3">
      <h2>Beach or pool this weekend?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>JolieFolie</strong></p>
    </div>
    <div class="color-card-half bg-warning mx-1 my-2 p-2">
      <h2>Rent or buy my next place?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>JolieFolie</strong></p>
    </div>
  </div>
  <div class="d-flex">
    <div class="color-card bg-warning mx-1 p-3">
      <h2>Brunette or blond?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Faith</strong></p>
    </div>
    <div class="color-card bg-light mx-1">
      <%= image_tag "https://images.unsplash.com/photo-1522776507896-7174e7b0219d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" %>
    </div>
    <div class="color-card bg-primary mx-1 p-3">
      <h2>Should I forbid cellphones in my class?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>Raj</strong></p>
    </div>
    <div class="color-card bg-info mx-1 p-3">
      <h2>Who would you rather meet?</h2>
      <i class="fas fa-comment pl-3 pr-2 text-dark"></i>
      <p class="font-italic little-text">Created by <strong>MarianaGT</strong></p>
    </div>
    <div class="color-card bg-success mx-1">
      <%= image_tag "https://images.unsplash.com/photo-1505243542579-da5adfe8338f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" %>
    </div>
  </div>
</div>
<!-- Third section -->
<div class="white-container p-5 my-2">
  <div class="bg-white d-flex justify-content-center align-items-center py-5 my-2">
    <div class="white-container-text p-5 text-left">
      <p>You have a problem?</p>
      <p>Not sure what to do?</p>
      <br>
      <p class="bg-info">You post it!</p>
    </div>
    <div class="card-fix easy card-category-easy card-note-text shadow">
      <h3>Where should I travel to next?</h3>
      <p class="font-italic little-text">Created by <strong>Memo</strong></p>
      <p class="px-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
    </div>
  </div>
</div>

<div class="gradient-container">
 <p> 🚧 under construction 🚧</p>
</div>
