<% if dilemma.can_users_vote? %>
  <div class="col-sm-12 col-lg-4 px-4">
    <div class="pb-5 pt-4 text-white">
      <i class="fas fa-comments"></i>
      <p class="badge badge-secondary text-wrap p-1"><strong>ADD A COMMENT</strong></p>
      <div class="mr-4">
        <%= simple_form_for [dilemma, @reply], remote: true do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.input :answer, label: "Tell us what you really think:",
          error: 'A comment cannot be blank and must have 280 characters maximum.',
          placeholder: "Type your comment",
          input_html: { class: "background-color-comment-form little-text" } %>
          <%= f.button :submit, "Post", class: "btn-sober" %>
        <% end %>
      </div>
    </div>
    <!-- Featured section -->
    <div class="mx-5 my-4">
      <div class="featured-parent card-category card-note-text card-ghost mt-3">
        <div class="card-tape-featured"></div>
        <div class="color-child rounded-circle <%= dilemma.category %>"></div>
        <div class="featured-child">
          <p class="badge badge-primary text-wrap">
          <i class="fas fa-star text-dark pr-1"></i>Featured</p>
        </div>
        <% if dilemma.easy? %>
          <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
        <% elsif dilemma.medium? %>
          <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 3 DAYS</p>
        <% elsif dilemma.hard? %>
          <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 7 DAYS</p>
        <% end %>
        <%= link_to "#{@sample.question}", dilemma_path(@sample[:id]) %>
        <p class="font-italic little-text">Created by <strong><%= @dilemma.user.username %></strong></p>
      </div>
    </div>
<% else %>
  <div class="col-sm-12 col-lg-4 px-4">
    <div class="mx-5 text-center">
      <p> Expired dilemma. Users cannot vote or reply anymore </p>
    </div>
  </div>
<% end %>
