<% if dilemma.can_users_vote? %>
  <div class="col-sm-12 col-lg-4 px-4">
    <div class="pb-5 pt-4 text-white">
      <i class="fas fa-comments"></i>
      <p class="badge badge-secondary text-wrap p-1"><strong>ADD A COMMENT</strong></p>
      <div class="mr-4">
        <%= simple_form_for [dilemma, @reply], remote: true do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.input :answer, label: "Tell us what you really think:",
          error: 'A comment cannot be blank and must have 280 characters maximum.',
          placeholder: "Type your comment",
          input_html: { class: "background-color-comment-form little-text" } %>
          <%= f.button :submit, "Post", class: "btn-sober" %>
        <% end %>
      </div>
    </div>
    <!-- You might be interested section -->
    <div class="mx-5 my-4">
      <div class="px-2 mt-2 text-center">
        <p class="badge badge-info text-wrap p-1">You might be interested</p>
      </div>
      <div class="<%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text card-ghost mt-3">
        <div class="card-tape-featured"></div>
        <%= link_to "#{@sample.question}", dilemma_path(@sample[:id]) %>
        <p class="font-italic little-text">Created by <strong><%= @dilemma.user.username %></strong></p>
        <% if dilemma.easy? %>
          <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
        <% elsif dilemma.medium? %>
          <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 3 DAYS</p>
        <% elsif dilemma.hard? %>
          <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 7 DAYS</p>
        <% end %>
      </div>
    </div>
    <!-- Link to all dilemmas-->
    <div class="py-3 mt-5 ml-5">
      <div class="btn btn-outline-primary pr-2 mb-2" id="btn-thin">
        <i class="fas fa-circle-notch pr-1"></i>
        <%= link_to "Back to all dilemmas", dilemmas_path %>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-sm-12 col-lg-4 px-4">
    <div class="mx-5 text-white">
      <h3>Dilemma has expired</h3>
      <p>Users cannot vote or reply anymore</p>
    </div>
  </div>
<% end %>
