<% if dilemma.can_users_vote? %>
  <div class="col-sm-12 col-lg-4 ml-0 pr-5">
    <div class="pb-5 pt-4 text-white">
      <i class="fas fa-comments"></i>
      <p class="badge badge-secondary text-wrap p-1"><strong>ADD A COMMENT</strong></p>
      <div class="mr-4">
        <%= simple_form_for [dilemma, @reply], remote: true do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.input :answer, label: "Tell us what you really think:",
          error: 'A comment cannot be blank and must have 280 characters maximum.',
          placeholder: "Type your comment",
          input_html: { class: "background-color-comment-form little-text" } %>
          <%= f.button :submit, "Post", class: "btn-sober" %>
        <% end %>
      </div>
    </div>
    <!-- Featured section -->
    <% if dilemma.user != current_user %>
      <div class="ml-3 my-4 pt-2">
        <div class="d-flex px-5">
          <i class="fas fa-sort-down text-primary pr-1"></i>
          <p class="text-primary text-center"><em>SUGGESTED</em></p>
          <i class="fas fa-sort-down text-primary pl-1"></i>
        </div>
          <% @dilemmas.top_3.each do |dilemma| %>
            <div class="card-category card-note-text card-ghost mt-2 mb-5">
              <div class="card-tape-featured"></div>
              <div class="color-child rounded-circle <%= dilemma.category %>"></div>
              <% if dilemma.easy? %>
                <p class="px-2 py-1 mr-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p><br>
              <% elsif dilemma.medium? %>
                <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 3 DAYS</p><br>
              <% elsif dilemma.hard? %>
                <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 7 DAYS</p><br>
              <% end %>
              <%= link_to dilemma.question, dilemma_path(dilemma) %>
              <p class="font-italic little-text">Created by <strong><%= @dilemma.user.username %></strong></p>
            </div>
            <br>
          <% end %>
      </div>
    <% end %>
<% else %>
  <div class="col-sm-12 col-lg-4 px-4">
    <div class="mt-5 pt-5 mr-5 text-left text-primary">
      <p> ⏱ Expired dilemma.</br>Users can't vote or comment anymore. </p>
    </div>
  </div>
<% end %>
