<div class="container">
  <div class="container d-flex justify-content-between">
    <p class="badge badge-primary text-wrap p-1">Active</p>
    <div class="btn btn-outline-primary" id="btn-thin">
      <i class="fas fa-circle-notch pr-1"></i>
      <%= link_to "Post", new_dilemma_path %>
    </div>
  </div>
  <div class="row row-cols-4">
  <% @dilemmas.each do |dilemma| %>
    <div class="col-sm-6 col-lg-3">
      <% if dilemma.easy? %>
        <div class="p-2">
          <div class="easy card-category-easy card-note-text">
            <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
            <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
          </div>
        </div>
      <% elsif dilemma.medium? %>
        <div class="p-2">
          <div class="medium card-category-medium card-note-text">
            <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
            <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
          </div>
        </div>
      <% elsif dilemma.hard? %>
        <div class="p-2">
          <div class="hard card-category-hard card-note-text">
            <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
            <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
            <% option_a = dilemma.options[0].users.count%>
            <% option_b = dilemma.options[1].users.count%>
            <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
            <%= pie_chart(a: option_a, b:option_b) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>


  </div>
</div>


