<div class="container-fluid">
  <% if @dilemmas.empty? %>
    <div class="text-center mt-5">
      <%= link_to ">> No results found 🤖. Try again <<", dilemmas_path %>
    </div>
  <% else %>
    <!-- Dilemmas -->
    <div class="row row-cols-4">
      <!-- Dilemmas featured-->
      <div class="col-sm-6 col-lg-3">
        <div class="container d-flex mt-4">
          <p class="badge badge-info text-wrap ml-5 p-1 mr-2">Featured</p>
          <i class="fas fa-star pl-1 text-info"></i>
        </div>
        <div id="main-block">
          <% @dilemmas.top_10.each do |dilemma|%>
            <div class="p-2 m-1 mb-4">
              <div class="m-2 card-ghost <%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text">
                <div class="card-tape-featured"></div>
                <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
                <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
                 <% if dilemma.easy? %>
                  <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
                <% elsif dilemma.medium? %>
                  <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 3 DAYS</p>
                <% elsif dilemma.hard? %>
                  <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 7 DAYS</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Dilemmas active-->
      <div class="col-sm-6 col-lg-6">
        <div class="container d-flex justify-content-center align-items-center mt-4 mb-1 ml-4">
          <p class="badge badge-primary text-wrap ml-2 p-1 mr-5">Active</p>
        </div>
        <div class="dilemmas-container d-flex" id="main-block">
          <div class="row">
            <% @dilemmas.each do |dilemma| %>
              <% if dilemma.can_users_vote? %>
                <div class="col-6">
                  <div class="mt-3 mb-4 card-ghost <%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text">
                    <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
                    <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
                     <% if dilemma.easy? %>
                      <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
                    <% elsif dilemma.medium? %>
                      <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 3 DAYS</p>
                    <% elsif dilemma.hard? %>
                      <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 7 DAYS</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Dilemmas archive -->
      <div class="col-sm-6 col-lg-3">
        <div class="container d-flex mt-4">
          <p class="badge badge-danger text-wrap ml-5 p-1 mr-2">Expired and archived</p>
          <i class="fas fa-arrow-down pl-1 text-danger"></i>
        </div>
        <div id="main-block">
          <% @dilemmas.each do |dilemma|%>
            <% unless dilemma.can_users_vote? %>
              <div class="p-2 m-1 mb-2">
                <div class="m-2 card-ghost <%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text">
                  <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
                  <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


