<div class="container">
  <div>
    <h1>Dilemmas</h1>
    <div class="cards">
      <% @dilemmas.each do |dilemma| %>
        <% if dilemma.easy? %>
          <div class="card-category easy">
          <%= dilemma.question %><%= link_to dilemma_path(dilemma) %>
          </div>
        <% elsif dilemma.medium? %>
          <div class="card-category medium">
          <%= dilemma.question %>
          </div>
        <% elsif dilemma.hard? %>
          <div class="card-category hard">
          <%= dilemma.question %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Post a new dilemma", new_dilemma_path %>
  </div>
</div>

