<div class="container">
  <div>
    <h1>Dilemmas</h1>
    <div class="cards">
      <% @dilemmas.each do |dilemma| %>
        <% if dilemma.easy? %>
          <div class="m-3">
            <div class="easy card-category-easy card-note-text">
              <%= link_to "#{dilemma.question.capitalize}", dilemma_path(dilemma) %>
              <% a = dilemma.options[0].users.count%>
              <% b = dilemma.options[1].users.count%>
              <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
              <%= bar_chart(a: a, b:b) %>
            </div>
          </div>
        <% elsif dilemma.medium? %>
          <div class="m-3">
            <div class="medium card-category-medium card-note-text">
              <%= link_to "#{dilemma.question.capitalize}", dilemma_path(dilemma) %>
              <% a = dilemma.options[0].users.count%>
              <% b = dilemma.options[1].users.count%>
              <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
              <%= bar_chart(a: a, b:b) %>
            </div>
          </div>
        <% elsif dilemma.hard? %>
          <div class="m-3">
            <div class="hard card-category-hard card-note-text">
              <%= link_to "#{dilemma.question.capitalize}", dilemma_path(dilemma) %>
              <% a = dilemma.options[0].users.count%>
              <% b = dilemma.options[1].users.count%>
              <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
              <%= bar_chart(a: a, b:b) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-5 mb-3">
  <button type="button" class="btn btn-outline-success btn-lg">
    <%= link_to "Post a new dilemma", new_dilemma_path %>
   </button>
</div>

