<div class="container-fluid">
  <% if @dilemmas.empty? %>
    <div class="text-center mt-5">
      <%= link_to ">> No results found 🤖. Try again <<", dilemmas_path %>
    </div>
  <% else %>
    <div class="form-inline ml-3 mb-3">
      <%= form_tag dilemmas_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What's on your mind?"%>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <!-- Dilemmas -->
    <div class="row row-cols-4">
      <!-- Dilemmas featured-->
      <div class="col-sm-6 col-lg-3">
        <div id="main-block">
          <% @dilemmas.top_10.each do |dilemma|%>
            <div class="p-2 m-1 mb-4">
              <div class="m-2 featured-parent card-ghost <%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text">
                <div class="card-tape-featured"></div>
                <div class="container featured-child mt-4">
                  <p class="badge badge-info text-wrap">
                  <i class="fas fa-star text-dark pr-1"></i>Featured</p>
                </div>
                <% if dilemma.easy? %>
                  <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p>
                <% elsif dilemma.medium? %>
                  <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 3 DAYS</p>
                <% elsif dilemma.hard? %>
                  <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 7 DAYS</p>
                <% end %>
                <div class="mt-1"><%= link_to "#{dilemma.question}", dilemma_path(dilemma) %></div>
                <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Dilemmas active-->
      <div class="col-sm-6 col-lg-6">
        <div class="dilemmas-container d-flex" id="main-block">
          <div class="row">
            <% @dilemmas.each do |dilemma| %>
              <% if dilemma.can_users_vote? %>
                <div class="col-6">
                  <div class="mt-3 mb-4 active-parent card-ghost <%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text">
                    <p class="active-child badge badge-primary">Active</p>
                    <% if dilemma.easy? %>
                      <p class="px-2 py-1 d-inline little-text-border">1 DAY</p>
                    <% elsif dilemma.medium? %>
                      <p class="px-2 py-1 d-inline little-text-border mt-0">3 DAYS</p>
                    <% elsif dilemma.hard? %>
                      <p class="px-2 py-1 d-inline little-text-border">7 DAYS</p>
                    <% end %>
                    <div class="mt-1"><%= link_to "#{dilemma.question}", dilemma_path(dilemma) %></div>
                    <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Dilemmas archive -->
      <div class="col-sm-6 col-lg-3">
        <div class="container mt-4">
          <p class="badge badge-danger text-wrap ml-5 p-1" id="text-grow">
          <i class="fas fa-arrow-down text-dark pr-1"></i>Expired and archived</p>
        </div>
        <div id="main-block">
          <% @dilemmas.each do |dilemma|%>
            <% unless dilemma.can_users_vote? %>
              <div class="p-2 m-1 mb-2">
                <div class="m-2 card-ghost <%= dilemma.category %> card-category-<%= dilemma.category %> card-note-text">
                  <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
                  <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


