<div class="container">
  <div>
    <div class="container mt-5 mb-3">
      <h1>Dilemmas</h1>
      <button type="button" class="btn btn-outline-success btn-lg">
        <%= link_to "Post a new dilemma", new_dilemma_path %>
       </button>
    </div>
    <div class="cards">
      <% @dilemmas.each do |dilemma| %>
        <% if dilemma.easy? %>
          <div class="m-3">
            <div class="easy card-category-easy card-note-text">
              <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
              <% option_a = dilemma.options[0].users.count%>
              <% option_b = dilemma.options[1].users.count%>
              <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
              <%= pie_chart(a: option_a, b:option_b) %>
            </div>
          </div>
        <% elsif dilemma.medium? %>
          <div class="m-3">
            <div class="medium card-category-medium card-note-text">
              <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
              <% option_a = dilemma.options[0].users.count%>
              <% option_b = dilemma.options[1].users.count%>
              <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
              <%= pie_chart(a: option_a, b:option_b) %>
            </div>
          </div>
        <% elsif dilemma.hard? %>
          <div class="m-3">
            <div class="hard card-category-hard card-note-text">
              <%= link_to "#{dilemma.question}", dilemma_path(dilemma) %>
              <% option_a = dilemma.options[0].users.count%>
              <% option_b = dilemma.options[1].users.count%>
              <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
              <%= pie_chart(a: option_a, b:option_b) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


