<div class="container-fluid">
  <% if @dilemmas.empty? %>
    <div class="text-center mt-5">
      <%= link_to ">> No results found 🤖. Try again <<", dilemmas_path %>
    </div>
  <% else %>
    <div class="mb-2 ml-3">
      <div class="form-inline">
        <%= form_tag dilemmas_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "What's on your mind?"%>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <!-- Dilemmas -->
    <div class="container-fluid">
      <div class="row" id="scroll-block">
        <% @dilemmas.each do |dilemma| %>
          <div class="col-3">
            <% if dilemma.can_users_vote? %>
                <div class="mt-3 mb-5 color-parent card-ghost card-category card-note-text">
                  <div class="color-child rounded-circle <%= dilemma.category %>"></div>
                  <% if dilemma.easy? %>
                    <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 1 DAY</p><br>
                  <% elsif dilemma.medium? %>
                    <p class="px-2 py-1 d-inline little-text-border mt-0">ACTIVE FOR 3 DAYS</p><br>
                  <% elsif dilemma.hard? %>
                    <p class="px-2 py-1 d-inline little-text-border">ACTIVE FOR 7 DAYS</p><br>
                  <% end %>
                  <div class="mt-1" id="min-card-width"><%= link_to "#{dilemma.question}", dilemma_path(dilemma) %></div>
                  <p class="font-italic little-text">Created by <strong><%= dilemma.user.username %></strong></p>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


