<div>
  <h2>Create a dilemma</h2>
  <%= simple_form_for @dilemma do |f| %>
  <%= f.input :question %>
  <%= f.input :category %>
  <%= f.input :option %>
  <%= f.input :tag %>
  <%= f.button :submit, "Ready", class: "btn btn-primary" %>
  <% end %>
</div>
<%= link_to "Back to dilemmas", dilemmas_path %>

