<div class="background-pattern">
  <div class="container narrow-viewport">
    <div class="pb-2 mb-4 border-bottom border-dark">
      <h1><strong>Dilemma</strong></h1>
    </div>
    <div>
      <%= simple_form_for @dilemma do |f| %>
        <div class="container d-flex mb-4 border-bottom border-dark">
          <div class="narrow-box mb-3">
            <h5><strong>Your dilemma</strong></h5>
            <p>This is your core question. Try to give others a brief context.</p>
          </div>
          <div class="flex-grow-1">
            <%= f.input :question, label: false,
            error: 'A question is mandatory, please specify one',
            placeholder: "My dilemma is...",
            input_html: { class: "background-color-input-form" } %>
          </div>
        </div>
        <div class="container d-flex mb-4 border-bottom border-dark">
          <div class="narrow-box mb-3">
            <h5><strong>Options</strong></h5>
            <p>Tell users which options you can't choose between and let others help you decide which one is better.</p>
          </div>
          <div class="flex-grow-1">
            <div class="mb-5">
              <%= f.simple_fields_for :options do |o| %>
                <h4 class="pb-1"><strong>Option A</strong></h4>
                <%= o.input :description, label: false,
                error: 'An option is limited to 140 characters.',
                placeholder: "Type a clear and brief choice..",
                input_html: { class: "background-color-input-form" } %>
              <% end %>
            </div>
            <div class="mb-5">
              <%= f.simple_fields_for :options do |o| %>
                <h4 class="pb-2"><strong>Option B</strong></h4>
                <%= o.input :description, label: false,
                error: 'An option is limited to 140 characters.',
                placeholder: "Type a clear and brief choice..",
                input_html: { class: "background-color-input-form" } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="container d-flex mb-4 border-bottom border-dark">
          <div class="narrow-box mb-3">
            <h5><strong>Type</strong></h5>
            <p>
              <em>How hard is your dilemma?</em> <br>
              <strong>Easy</strong> will be archived after a day. <br>
              <strong>Medium</strong> after 72 hours. <br>
              <strong>Hard</strong> after a week.
          </p>
          </div>
          <div class="flex-grow-1">
            <%= f.input :category, collection: Dilemma.categories,
              as: :select, label: false,
              error: 'Choose the level of difficulty',
              placeholder: "Select type",
              input_html: { class: "background-color-input-form" } %>
          </div>
        </div>
        <div class="p-2">
          <%= f.input :tag, label: "Add a tag",
          placeholder: "#yolo, #fun, #relationships, #omg",
          input_html: { class: "background-color-input-form" } %>
        </div>
        <div class="text-center mt-4">
          <%= f.submit "READY", class: "btn-sober" %>
        </div>
      <% end %>

    </div>
  </div>
</div>




