<div class="container-show m-0">
  <div class="row">
    <div class="col-lg-8">
      <!-- Dilemma card -->
      <%= render "display-show", dilemma: @dilemma %>
      <div id="social-media">
        <%= social_share_button_tag(@dilemma.question) %>
      </div>
      <!-- Comments section -->
      <div class="mt-5" id="replies" data-chatroom-id="<%= @dilemma.id%>">
        <% @dilemma.replies.each do |reply| %>
          <%= render "replies/display-replies", reply: reply, dilemma: @dilemma %>
        <% end %>
      </div>
    </div>
    <!-- Form for comments -->
    <%= render "display-reply", dilemma: @dilemma %>
  </div>
</div>
