<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% if @dilemma.easy? %>
        <div class="card-box-show container easy mt-4">
          <div class="p-5">
            <h2><%= @dilemma.question.capitalize %></h2>
            <p class="pl-4"><%= "#{@dilemma.category.capitalize} dilemma" %></p>
          </div>
          <div class="container d-flex justify-content-center">
            <% @dilemma.options.each do |option| %>
            <div class="show-options mx-5 mb-5">
              <%= link_to option.description, upvotes_path(option.id), method: :post %>
              <div class="circle-percentage mt-3">
                <% percentage = @dilemma.options.reduce(0) { |sum, option| sum + option.upvotes } %>
                <% if percentage > 0 %>
                  <%= (option.upvotes * 100) / percentage  %> %
                <% else %>
                  50%
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% elsif @dilemma.medium? %>
        <div class="card-box-show container medium mt-4">
          <div class="p-5">
            <h2><%= @dilemma.question.capitalize %></h2>
            <p class="pl-4"><%= "#{@dilemma.category.capitalize} dilemma" %></p>
          </div>
          <div class="container d-flex justify-content-center">
            <% @dilemma.options.each do |option| %>
            <div class="show-options mx-5 mb-5">
              <%= link_to option.description, upvotes_path(option.id), method: :post %>
              <div class="circle-percentage mt-3">
                <% percentage = @dilemma.options.reduce(0) { |sum, option| sum + option.upvotes } %>
                <% if percentage > 0 %>
                  <%= (option.upvotes * 100) / percentage  %> %
                <% else %>
                  50%
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <% elsif @dilemma.hard? %>
        <div class="card-box-show container medium mt-4">
          <div class="p-5">
            <h2><%= @dilemma.question.capitalize %></h2>
            <p class="pl-4"><%= "#{@dilemma.category.capitalize} dilemma" %></p>
          </div>
          <div class="container d-flex justify-content-center">
            <% @dilemma.options.each do |option| %>
            <div class="show-options mx-5 mb-5">
              <%= link_to option.description, upvotes_path(option.id), method: :post %>
              <div class="circle-percentage mt-3">
                <% percentage = @dilemma.options.reduce(0) { |sum, option| sum + option.upvotes } %>
                <% if percentage > 0 %>
                  <%= (option.upvotes * 100) / percentage  %> %
                <% else %>
                  50%
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-4">
      <div class="mt-5">
        <%= simple_form_for([@dilemma, @reply]) do |f| %>
          <%= f.input :answer, label: "Why is that the best option? Elaborate on your option",
          error: 'A comment can not be blank and can only have 280 characters maximum',
          placeholder: "Be short. Be thoughtful." %>
          <%= f.submit "Go for it", class: "btn-sober" %>
        <% end %>
      </div>
      <div>
        <% @dilemma.replies.each do |reply| %>
        <div class="border mt-3">
          <% #Joselito aquí va el avatar %>
          <%= reply.answer.capitalize %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="cointainer m-5">
  <%= link_to "See all dilemmas", dilemmas_path %>
</div>
